<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merienda:wght@400;700&display=swap" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="assets/js/logout.js"></script>
  <script src="assets/js/features.js"></script>
  <style>
    .home-top {
	width: 100%;
	height: auto;

	background-size: cover;
}
  </style>
</head>

<body onload = "dashboard()"">
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="./" class="logo d-flex align-items-center">
        <img src="assets/img/favicon.png" alt="Logo">
      </a>

      <div id="welcome">
        
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a id="add" class="btn btn-nav" href="stats.html">Statistics </a></li>
          <li><a id="add" class="btn btn-nav" href="addnewdomain.html">Add new Domain</a></li>
          <li><a id="logout" class="btn btn-nav">Log out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= home-top Section======= -->
  <section id="home-top" class="home-top align-items-center">
    <header class="section-header">
      <p style="color: white; padding:3%; font-family: 'Merienda', cursive;">My Wallet</p>
      <button type="button" style="font-weight: 900; padding: 1%;" class="btn btn-light btn-lg" id = 'registerDomain'></button>
     <center> <hr width="75%" style="border: 7px solid white;" size="10"> </center>
      <h3 style="color: rgba(252, 244, 244, 0.801); padding: 50px 0px 0px 0px ; font-weight: 900;" id = 'regDomHead'></h3>
      
    </header>
    <div id="projects" class="container align-items-center col-lg-6">
      <table  class="table table-bordered " style=" text-align: left ;color:white;  border-radius: 50px;" style="border-radius: 50%">
        <tbody id = 'domNames'>
        </tbody>
      </table>
    </div>

    <br>
   <br>
  
    <div id="projects" class="container col-lg-8">
      <h3 style="color: rgb(255, 255, 255); text-align: center; font-weight: 900;">MY TRANSACTIONS</h3>
      <br>
    <div id = "tx">
    </div>

  </div>


  </section>
  <!-- End home-top -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p>Contact Us</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>Vellore Institute of Technology,<br>Vellore, India 632014</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>+91 755 093 0806<br>+91 807 245 8976</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>abhinabamitra19@gmail.com<br>joshi.jai232@gmail.com</p>
              </div>
            </div>

          </div>

        </div>

        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" class="php-email-form">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name">
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Your Email">
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject">
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message"></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Send Message</button>
              </div>

            </div>
          </form>

        </div>

      </div>

    </div>

  </section>
  <!-- End Contact Section -->
  <!-- ======= Footer ======= -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

<script src="assets/js/dashboard.js"></script>

</body>

</html>