<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Receipt</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />

    <link href="assets/css/style.css" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="assets/js/logout.js"></script>
    <style>
    .home-top {
  width: 100%;
  height: auto;
  background-size: cover;
}
  </style>
  </head>

  <body onload="getReceipt()">
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
      <div
        class="
          container-fluid container-xl
          d-flex
          align-items-center
          justify-content-between
        "
      >
        <a href="./" class="logo d-flex align-items-center">
          <img src="assets/img/favicon.png" alt="Logo" />
        </a>

        <div id="welcome"></div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="dashboard.html" class="btn btn-nav">Existing Domains</a></li>
            <li>
              <a id="add" class="btn btn-nav" href="stats.html">Statistics </a>
            </li>
            <li>
              <a id="add" class="btn btn-nav" href="addnewdomain.html">Add new Domain</a>
            </li>
            <li><a id="logout" class="btn btn-nav">Log out</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= home-top Section======= -->
    <section id="home-top" class="home-top align-items-center">
      <header class="section-header" id = "receiptHeader">
        <p style="color: white; padding: 2.5%">RECEIPT GENERATED</p>
        
      </header>
      <div id="projects" class="container align-items-center table-responsive">
        <table  class="table table-bordered " style="text-align: left ;color:white; border: 4px solid white; border-radius: 50px;" style="border-radius: 50%">
          <thead>
            <tr>
              <th scope="col">BlockHash</th>
              <th scope="col" id="blockHash"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Block Number</th>
              <th id="blockNumber"></th>
            </tr>
            <tr>
              <th scope="row">Contract Address :</th>
              <th id="contractAd"></th>
            </tr>
            <tr>
              <th scope="row">Cumulative Gas Used</th>
              <th id="cumGas"></th>
            </tr>
            <tr>
              <th scope="row">From address</th>
              <th id="from"></th>
            </tr>
            <tr>
              <th scope="row">To address</th>
              <th id="to"></th>
            </tr>
            <tr>
              <th scope="row">Gas Used</th>
              <th id="gas"></th>
            </tr>
            <tr>
              <th scope="row">Data</th>
              <th id="data"></th>
            </tr>
            <tr>
              <th scope="row">Transaction Hash :</th>
              <th id="txhash"></th>
            </tr>
            <tr>
              <th scope="row">Status</th>
              <th id="status"></th>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <br />
    </section>
    <!-- End home-top -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-12">

            <div class="row gy-4">
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Vellore Institute of Technology,<br>Vellore, India 632014 <br> www.vit.ac.in</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+91 755 093 0806<br>+91 776 281 9065 <br> +91 708 262 4978 </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>abhinabamitra19@gmail.com<br>shreyachatterjeeshreyash@gmail.com <br> hritishak@gmail.com</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-github"></i>
                  <h3>Github</h3>
                  <p>abhinabamitra.github.io/Portfolio/<br>shreya549.github.io/My-Portfolio/<br>hritisha.github.io/Hritisha_Portfolio/</p>
                </div>
              </div>

            </div>

          </div>

      

        </div>

      </div>

    </section>
    <!-- End Contact Section -->
    <!-- ======= Footer ======= -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/receipt.js"></script>
  </body>
</html>
