<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="assets/js/logout.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Shadows+Into+Light&display=swap" rel="stylesheet">

<style>
    .home-top {
  width: 100%;
  height: auto;
  background-size: cover;
}
  </style>


</head>

<body onload = 'stats()'>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="./" class="logo d-flex align-items-center">
        <img src="assets/img/favicon.png" alt="Logo">
      </a>

      <div id="welcome">
        
      </div>

      <nav id="navbar" class="navbar">
        <ul>

          <li><a href="dashboard.html" class="btn btn-nav">Existing Domains</a></li>
          <li><a id="add" class="btn btn-nav" href="addnewdomain.html">Add new Domain</a></li>
          <li><a id="logout" class="btn btn-nav">Log out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= home-top Section======= -->
  <section id="home-top" class="home-top align-items-center">
    <header class="section-header">
      <h1 style="color: white; padding: 2%; font-family: 'Merienda', cursive;">
        <span class="letters">Statistics</span>
        </span>
      </h1>
        
     
    </header>
    <div id="projects" class="container col-lg-8">
      <h3 style="color: rgb(255, 255, 255); text-align: left; font-weight: 900;">NETWORK DETAILS</h3>
      <br>
      <div id = 'stats'></div>
      <br>
      <h3 style="color: rgb(255, 255, 255); text-align: left; font-weight: 900;">TRANSACTION LIST</h3>
      <br>
      <div id = 'tx'>
      
      </div>
    </div>
  
  </section>
  <!-- End home-top -->
  <!-- ======= Footer ======= -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
   <script src="assets/js/stats.js"></script>

</body>

</html>